.picture{
  width: 90% ;
  heigth: 90% ;
  left: 5% ;
}

.ui.cards {
  align-items: center;
  height: 600px;
  width: 600px;
 
}

.card {
  transition: all .2s;
  -webkit-transform: all .2s;
}

.card.hidden {
  opacity: 0.1;
}
